<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- jQuery is loaded from CDN via footer_scripts in _config.yml, not bundled in main.min.js -->

{% if page.support contains 'gallery' %}
<!-- lightGallery v2.9.0 -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "assets/css/lightgallery-bundle.min.css" }}" />
<!-- Isotope v3.0.6 -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "assets/css/gallery.css" }}" />
{% endif %}

{% if page.support contains 'photoswipe' %}
<!-- PhotoSwipe v5.4.4, served from this repo rather than a CDN -->
<link rel="stylesheet" href="{{ '/assets/css/photoswipe.css' | absolute_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/photoswipe-dynamic-caption-plugin.css' | absolute_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/photoswipe-custom.css' | absolute_url }}" />
<script type="module">
  import PhotoSwipeLightbox from '{{ "/assets/js/plugins/photoswipe-lightbox.esm.js" | absolute_url }}';
  import PhotoSwipe from '{{ "/assets/js/plugins/photoswipe.esm.js" | absolute_url }}';
  import PhotoSwipeDynamicCaption from '{{ "/assets/js/plugins/photoswipe-dynamic-caption-plugin.esm.js" | absolute_url }}';
  window.PhotoSwipeLightbox = PhotoSwipeLightbox;
  window.PhotoSwipe = PhotoSwipe;
  window.PhotoSwipeDynamicCaption = PhotoSwipeDynamicCaption;
  // Module scripts are deferred, so anything using these globals has to wait
  // for DOMContentLoaded. See _includes/photoswipe-gallery.html.
  window.dispatchEvent(new Event('photoswipe:ready'));
</script>
{% endif %}

<!-- end custom head snippets -->
