<!-- <h2>Filter</h2> -->
<!-- <div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".electronics">electronics</button>
  <button class="button" data-filter=".computers">computers</button>
  <button class="button" data-filter=".cars">cars</button>
  <button class="button" data-filter=".art">art</button>
</div>
<br> -->
<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div id="gallery-sizer" class="gallery-sizer"></div>
    {% for picture in include.gallery.pictures %}
      <div class="image-wrapper {{ picture.filter }} {{ picture.priority }}">
        <a href="https://s3.us-east-2.amazonaws.com/rellimmot/assets/images/portfolio-gallery/{{ picture.original }}"
        data-responsive="
          {% for size in picture.sizes %}
              https://s3.us-east-2.amazonaws.com/rellimmot/assets/images/portfolio-gallery//{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}
          {% endfor %}"
        class="image"
          {% if picture.title %}
              data-sub-html="<div class='lg-toolbar caption'><h4>{{ picture.title | escape }}</h4>
                  {% if picture.caption %}
                    <p>{{ picture.caption | escape }}</p>
                  {% endif %}</div>"
          {% endif %}>
        <img alt="{{ picture.title }}" src="https://s3.us-east-2.amazonaws.com/rellimmot/assets/images/portfolio-gallery/{{ picture.thumbnail }}" />
        </a>
      </div>
    {% endfor %}
</div>

<script>

$(document).ready(function() {
  // Initialize lightGallery v2
  var galleryElement = document.getElementById('image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}');
  if (galleryElement) {
    lightGallery(galleryElement, {
      plugins: [lgThumbnail],
      selector: '.image',
      licenseKey: '0000-0000-000-0000' // Free license key for open source
    });
  }
});


// init isotope
var $grid{% if include.id_number %}{{ include.id_number }}{% endif %} = $('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
  percentPosition: true,
  columnWidth: '#gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}',
  itemSelector: '.image-wrapper',
  layoutMode: "masonry",
  getSortData:{
    priority: '.priority'
  }
});


// bind filter button click
$('#filters').on( 'click', 'button', function() {
  var filterValue = $( this ).attr('data-filter');
  // use filterFn if matches value
  // filterValue = filterFns[ filterValue ] || filterValue;
  $grid.isotope({ filter: filterValue });
  console.info( 'FILTER: ', filterValue );
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

// layout Isotope after each image loads
$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.imagesLoaded().progress( function() {
  $grid{% if include.id_number %}{{ include.id_number }}{% endif %}.masonry();
});

</script>
